html,body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      
.brand-logo{
    color: red;
}

#background-image{
    background: url(https://github.com/isntlee/sagacity/blob/af1944c562cdf29efefae9d68fc54ae073d3aa2f/static/images/grafton1960.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}
#map {
    height: 90vh;
    width: 90vw;
}


 @media screen and (max-width: 670px){
#background-image{
    min-height: 66vh;
    } 
}     