
body {
  margin: 0vw;
  padding: 0vw;
  overflow-x: hidden;
  background-color: #fafafa;  
}

#search {
    color: #fafafa;
    width: 60px;
    text-indent: 70px;
    border-bottom: none!important 
}

.brand-logo {
    font-weight: 400;
}

#search:focus {
    width: 320px;
    text-indent: 40px;
    box-shadow: none;
}

.white {
    background-color: #fafafa !important;
}
/* This (width - between search & search-focus) could be a happy compromise,
 text-indent on search-focus could be a problem */


nav .input-field label {
    top: -6.5px; 
}

.sidenav {
    width: 175px;
    background-color: rgba(255, 255, 255, 0.95);
}

.sidenav li > a  {
    height: 40px;
    line-height: 48px;
    padding: 0 32px 0 45px;
    color: #FF9F00;
    font-size: 20px;
}

.sidenav-overlay {
    z-index: 1;
    background-color: rgba(0,0,0,0.2);
}

.sideNav_icons .input-field>label {
    height: 40px;
    line-height: 20px;
    padding: 0 32px 0 45px;
    color: #FF9F00;
    font-size: 20px;
    font-weight: 500;
}

/* input[type=text]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 0px transparent;
    box-shadow: 0px transparent;
    -webkit-box-shadow: 0px transparent;
    color: transparent;
} */

.sideNav_icons .input-field {
    margin-top: 0px;
}

.sideNav_icons .input-field input[type="search"]:not([readonly]),
.sideNav_icons .input-field input[type="search"]:focus:not([readonly]) {
    border-bottom: none;
}

.sideNav_icons input[type=text]:not(.browser-default) {
    border-bottom: none;
}

.sideNav_icons input[type=text]:not(.browser-default):focus:not([readonly]) {
    border-bottom: none;
    box-shadow: none;
    color: #FF9F00;
    font-weight: 400;
    padding-left: 45px;
}

.sideNav_icons input[type=text]:not(.browser-default):focus:not([readonly])+label {
    color: transparent
}

/* .input-field>label:not(.label-icon).active {
    color: transparent;
} */

#background-image{
    background: url(../images/NewYorkSunset.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%;
    /* This is a hack, hope I won't have to rely on it. Media queries to fix it on mobile */
    margin-top: -64px;
}

.typewriter { 
  /* font-family: Roboto;
  font-weight:400; */
  font-size: 6vw;
  text-align: center;
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .35vw solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .1vw; /* Adjust as needed */
}
  
.anim-typewriter_1{
  position: absolute;
  left: 10vw;
  top: 50vh;
  animation: 
    typing_1 15s steps(15) 7s 99 backwards,
    blink-caret .5s step-end infinite normal;
}

.anim-typewriter_2{
  position: absolute;
  left: 10vw;
  top: 50vh;
  animation: 
    typing_2 15s steps(30) 7s 99 backwards,
    blink-caret .5s step-end infinite normal;
}

/* The typing effect */
@keyframes typing_1{ 
   0% { width: 0vw;
        opacity: 1;}
  10% { width: 51vw;
        opacity: 1;}
  30% { width: 51vw;
        opacity: 1;}     
  47% { width: 51vw;
        opacity: 1;}
  50% { width: 51vw;
        opacity: 0}
  100%{ width: 51vw;
        opacity: 0}
}

@keyframes typing_2{
   0% { width: 0vw;
        opacity: 0;}
  50% { width: 0vw;
        opacity: 0;}
  51% { width: 0vw;
        opacity: 1;}
  70% { width: 75vw;
        opacity: 1;}
  85% { width: 75vw;
        opacity: 1;}
  98% { width: 75vw;
        opacity: 0;}     
  100%{ width: 75vw;
        opacity: 0}
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}


/* section{
    padding-top:4vh;
    padding-bottom:4vh;
} */

.signUp {
    font-weight: 500;
    color: #FFA400;
}

.flash_message {
    color: #FF9F00;
    font-weight: 500;
    text-align: left;
}

.slightly_grayer {
    color: #606060;
}

 i.material-icons.accountCircle.left{
    vertical-align: -6px;
    padding-right: -2px;
}

#aboutUs{
    /* background: url(../images/);
    background-repeat: ; */
    margin-top: 85px;
    margin-bottom: 75px;
    /* height: 50vh; */
    width: 100%;
}
.aboutUs-both {
    margin-top: -30px; 
}

.aboutUs-intro {
    font-family:"Roboto";
    /* font-size: 5vw; */
    font-weight: 500;
    color: #FF9F00;
}

.aboutUs-letters {
    font-family:"Roboto";
    /* font-size: 5vw; */
    font-weight: 400;
    color: #202020;
}

section > div > div > div > p::first-letter {
    font-size: 110%;
    color: #FF9F00;
}

.singleSaga_container {
    margin: 0 auto;
    width: 65%;
}

#singleSaga_css {
    font-family: "Roboto";
    color: #505050;
}

.sagaTitle_details {
    color: rgb(240, 148, 0);
}

/* .singleSaga_firstLetter > div > h5 > main > p::first-letter {
    float: left;
    font-size: 390%;
    margin-top: -.5em;
    margin-bottom: -.75em;
    font-weight:thin;
    color: #FF9F00;
} */

h5 > main {
  font-size: 21px;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: lighter;
}

main { 
    line-height: 1.75;
    word-spacing: 1.75;
     
}
.navbar-icons {
    color:#fafafa;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity .35s linear, color .5s; 
}
.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility .50s, opacity .50s linear, color .5s;
}

 /* .showSagasContainer {
  margin: 0 auto;
  max-width: 1280px;
  width: 95%;
} 

@media only screen and (min-width: 601px) {
  .showSagasContainer {
    width: 90%;
  }
}
@media only screen and (min-width: 993px) {
  .showSagasContainer {
    width: 85%;
  }
} */

.fullPage-title {
    padding-left: 5px;
    color: #FF9F00;
    font-weight: 500;
    text-align: left;
}

.sortList_first {
    padding-right: 50px;
    color: #FF9F00;
    font-weight: 500;
}

#sortList_second .select-wrapper input.select-dropdown {
    border-bottom: transparent;
    color: #FF9F00;
    font-weight: 500;
    font-size: 20px;
    margin-top: 8px;
} 

#sortList_second {
    font-weight: 500;
}

#sortList_second .select-wrapper input.select-dropdown:focus {
    border-bottom: transparent;
}

#sortList_second .select-wrapper .caret {
    fill: #FF9F00;
    vertical-align: -8px;
}

.paginatePage-block {
    padding-top: 10vh;
}

.paginatePage-item {
    color: #FF9F00;
    font-weight: 500;
    font-size: 22px;
}

.paginatePage-pageCount {
    padding-top: 0px;
}

/* This is just an experiment */
.rotate-180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.input-field label {
    color: #7a7a7a;
}

.input-field .select-wrapper [type=text] {
    color: #7a7a7a;
}

ul.dropdown-content.select-dropdown li.disabled>span {
    color: #8a8a8a;
}

ul.dropdown-content.select-dropdown li span {
    color: #FF9F00;
} 

ul.dropdown-content.select-dropdown li:first-of-type span {
    color: #8a8a8a;
}

.btn {
font-weight: 600;
background-color: #FF9F00;
color:#fafafa;
}

.btn:hover{
background: rgb(248, 189, 93);
color: #fafafa;
}

/* .card {
} */

.card-image {
  max-height: 40% !important;
}

 .card-title{
  text-align: center; 
  padding: 0;
  width: 100%;
  background-image:linear-gradient(to bottom, rgba(0,0,0,0), 45%, rgba(0,0,0,1));
}

.card-content .card-date {
  margin-top: -20px;
}

.card .card-reveal{
  background-color: rgba(255, 255, 255, 0.9);
}

.card-title .material-icons {
    color: #FFA400;
}

.card-reveal-title {
   text-align: center;
   font-size: 24px;
   font-weight: 400; 
}

.card-reveal-intro {
    text-align: center;
}

.card-reveal-intro .material-icons {
    text-align: center;
    color: #FFA400;
    vertical-align: -6px;
}

.card-reveal-details{
    color: #666565;
}

.card-reveal-read {
    text-align: center;
}

.card-reveal-read > a {
    text-align: center;
    color: #FFA400;
    font-weight: 500;
    font-size: 14px;
}

.card-reveal-where {
    text-align: center;
}

.card-reveal-where .material-icons {
    text-align: center;
    color: #FFA400;
    vertical-align: -6px;
    line-height: 1.2;
}

.card-reveal-when {
    text-align: center;
}

.card-reveal-when .material-icons {
    text-align: center;
    color: #FFA400;
    vertical-align: -6px;
    line-height: 1.2;
}

.card-reveal-reading {
    text-align: center;
} 

.card-reveal-reading .material-icons {
    text-align: center;
    color: #FFA400;
    vertical-align: -6px;
    line-height: 1.2;
}

.card-image img {
  object-fit: cover;
  height: 50vh;
}

.card-content {
  background: #000000;
  height: 4vh;
}

.card-likes {
  margin-top: -2vh;
  float: right;
}

.card-totalLikes {
  color: #fafafa;
  margin-top: -1vh;
}

.card-date {
  color: #fafafa;
  margin-top: -1vh;
  float: left;
}

main { 
  white-space: pre-wrap
}

#addSaga {
    height: 90vh;
}

 /* @media screen and (max-width: 300px){
#background-image{
    min-height: 75vh;
    }  */  

/* This is the CSS for Miquel Marnoto's infoWindow (http://en.marnoto.com/2014/09/5-formas-de-personalizar-infowindow.html) */

#map {
	margin: 0;
	padding: 0;
	height: 85vh;
    width: 100%;
	max-width: none;
}

#map img {
	max-width: none !important;
}
.gm-style-iw {
	width: 350px !important;
	top: 15px !important;
	left: 0px !important;
	background-color: #fafafa;
	box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
	border: 1px solid rgba(72, 181, 233, 0.6);
	border-radius: 2px 2px 10px 10px;
}
#iw-container {
	margin-bottom: 10px;
}

.infocontent_aLink {
    color: #FF9F00;
}

#iw-container .iw-title {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 24px;
	font-weight: bolder;
	padding: 10px 10px 0px 10px;
	background-color: #fafafa;
	color:  rgb(240, 148, 0);
	margin: 0;
	border-radius: 2px 2px 0 0;
}
#iw-container .iw-content {
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	margin-right: 1px;
	padding: 10px 5px 15px 15px;
	max-height: 30vh;
	overflow-y: auto;
	overflow-x: hidden;
}
.iw-content img {
	width: 100%;
	margin: 0 5px 5px -2px;	
}
.iw-subTitle {
	font-size: 16px;
	font-weight: 700;
	padding: 5px 0;
}
.iw-bottom-gradient {
	position: absolute;
	width: 326px;
	height: 25px;
	bottom: 10px;
	right: 18px;
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}

.la-arrow-circle-up{
color:#B2BEB5;
font-size: 30px;
margin-top: 3px;
}

.la-arrow-circle-up:hover {
color:#cd5c5c;
font-size:30px;
opacity: 0.8;
transition: 0.5s;
margin-top: 3px;
}

.la-arrow-circle-down {
color:#B2BEB5;
font-size: 30px;
margin-top: 3px;
}

.la-arrow-circle-down:hover {
color:#76ABDF;
font-size:30px;
opacity: 0.9;
transition: 0.5s;
margin-top: 3px;
}

#singleSaga-arrow .la-arrow-circle-up {
font-size:35px;
}

#singleSaga-arrow .la-arrow-circle-up:hover {
font-size:35px;
}

#singleSaga-arrow .la-arrow-circle-down {
font-size:35px;
}

#singleSaga-arrow .la-arrow-circle-down:hover {
font-size:35px;
}



.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em
}

.resp-sharing-button {
  border-radius: 1.6em;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.resp-sharing-button__icon svg {
  width: 1.6em;
  height: 1.9em;
  margin-right: 0.4em;
  vertical-align: top
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none
}

.resp-sharing-button--twitter {
  background-color: #55acee
}

.resp-sharing-button--twitter:hover {
  background-color: #2795e9
}


.resp-sharing-button--facebook {
  background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
  background-color: #2d4373
}

.resp-sharing-button--reddit {
  background-color: #5f99cf
}

.resp-sharing-button--reddit:hover {
  background-color: #3a80c1
}

.resp-sharing-button--whatsapp {
  background-color: #25D366
}

.resp-sharing-button--whatsapp:hover {
  background-color: #1da851
}


.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

.resp-sharing-button--reddit {
  background-color: #FF5700;
  border-color: #FF5700;
}

.resp-sharing-button--reddit:hover,
.resp-sharing-button--reddit:active {
  background-color: #FF4500;
  border-color: #FF4500;
}

.resp-sharing-button--whatsapp {
  background-color: #25D366;
  border-color: #25D366;
}

.resp-sharing-button--whatsapp:hover,
.resp-sharing-button--whatsapp:active {
  background-color: #1DA851;
  border-color: #1DA851;
}
