body {
  width: 100%;
  height: 100%;
  margin: 0vw;
  padding: 0vw;
  overflow-x: hidden;
  background-color: #fafafa   
}

#brand-logo{
    color:#fafafa
}

#search-btn{
    color:#fafafa
}

#background-image{
    background: url(../images/AerialDublinLiffey.jpg);
    background-size: cover;
    background-position: center top;
    height: 130vh;
    width: 99vw;
}

#aboutUs{
    height: 95vh;
    width: 99vw;
}

#map {
    height: 95vh;
    width: 99vw;
}

#addSaga {
    height: 90vh;
}

 @media screen and (max-width: 670px){
#background-image{
    min-height: 75vh;
    } 
}    