<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta http-equiv="X-UA-Compatible" content="ie=edge" />
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" type="text/css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700&display=swap" type="text/css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" type="text/css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;500;600;700;900&display=swap" type="text/css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap"  type="text/css" >
      <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"/>
      <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" />
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      <link rel="icon" href="../static/images/favicon.png" sizes="32x32" type="image/png">
      <title>Sagacity</title>
   </head>
   <body>
      <header>
      <!--------------- Navigation ------------------->
         <div class="navbar-fixed">
            <nav class="nav-wrapper z-depth-0 transparent">
               <a href="{{url_for('home')}}" class="navbar-icons brand-logo left">&nbsp;sagacity</a>
               <a href="#" class="sidenav-trigger right" data-target="mobile-links"><i class="material-icons">menu</i></a>
               <ul class="right hide-on-med-and-down">
                  <li><a href="{{url_for('showSagas', page=1)}}" class="navbar-icons search-hide">Sagas</a></li>
                  {% if session.username %}
                  <li><a href="{{url_for('addSaga')}}" class="navbar-icons search-hide">Add Sagas</a></li>
                  <li><a href="{{url_for('mySagas', page=1)}}" class="navbar-icons search-hide">My Sagas</a></li>
                  {% else %}
                  <li><a href="{{url_for('home', _anchor='map')}}" class="navbar-icons search-hide">Map</a></li>
                  <li><a href="{{url_for('login')}}" id="accountCircle" class="navbar-icons search-hide"><i class="material-icons accountCircle left">account_circle</i>Login</a></li>
                  {% endif %}
                  {% if session.username %}
                  <li><a href="{{url_for('logout')}}" class="navbar-icons search-hide">Logout</a></li>
                  {% endif %}
                  <li>
                     <form action="{{url_for('sagaSearch')}}" class="" method="POST">
                        <div class="input-field searchIcon">
                            <input id="search" name="sagaSearch-sagaTitle" class="search-field navbar-icons" type="text" autocomplete="off" required>
                            <label class="label-icon" for="search"><i id="navBar-searchIcon" class="material-icons navbar-icons">search</i></label>
                        </div>
                     </form>
                  </li>
               </ul>
            </nav>
            <div class="sidenav" id="mobile-links">
               <ul>
                  <br><br>
                  <li><a href="{{url_for('showSagas', page=1)}}" class="sideNav_icons">Sagas</a></li>
                  {% if session.username %}
                  <br>
                  <li><a href="{{url_for('addSaga')}}" class="sideNav_icons">Add Sagas</a></li>
                  <br>
                  <li><a href="{{url_for('mySagas', page=1)}}" class="sideNav_icons">My Sagas</a></li>
                  <br>
                  <li><a href="{{url_for('logout')}}" class="sideNav_icons">Logout</a></li><br>
                  {% else %}
                  <br>
                  <li><a href="{{url_for('home', _anchor='map')}}" class="sideNav_icons">Map</a></li>
                  <br>
                  <li><a href="{{url_for('login')}}" class="sideNav_icons">Login</a></li><br>
                  {% endif %} 
                  <li>
                    <form action="{{url_for('sagaSearch')}}" class="sideNav_icons" method="POST">
                        <div class="input-field">
                            <input id="sideNav_search" name="sagaSearch-sagaTitle" class="sideNav_icons" type="text" autocomplete="off" required> 
                            <label class="sideNav_searchLabel-icon" for="search">Search</label>
                        </div>
                    </form>
                  </li> 
               </ul> 
            </div>
         </div>
      </header>
      <!--------------- Main Body ------------------->
      <div>
         {% block content %} {% endblock %}
      </div>
      <footer>
      </footer>
      <!------------------ Maps ------------------------>
      {% block javascript %} {% endblock %} 
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

      <script src="{{url_for('static', filename='js/main.js')}}"></script>
      <script src="{{url_for('static', filename='js/jquery.js')}}"></script>
      <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAx0wQ9k0TVnaE1cIvqF0m6CTxBat-wdbk&callback=initMap"></script>
   </body>
</html>