
{% extends 'base.html' %} 
{% block content %}

    <div class = "container">
        <h3 class="fullPage-title">Edit Saga</h3>
            <div class="row">
                <form action="{{ url_for('updateSaga', saga_id=saga._id) }}" method="POST" class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                    <input id="sagaTitle" name="sagaTitle" type="text" class="validate" value="{{saga.sagaTitle}}" autocomplete="off">
                    <label for="title">Title</label>
                    </div>
                    <div class="input-field col s12">
                    <input id="sagaTagline" name="sagaTagline" type="text" class="validate" value="{{saga.sagaTagline}}" autocomplete="off">
                    <label for="tagline">Tagline</label>
                    </div>
                </div>
                    <div class="row">
                        <div class="input-field col s12">
                        <input placeholder="yourImage.com" id="sagaImage" name="sagaImage" type="text" class="validate" value="{{saga.sagaImage}}" autocomplete="off"> 
                        <!--Might be someway to include a responsive tag here,
                        or in the code where the image would work-->
                        <label for="image">Main Image - paste link</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="https://yourURL..." id="contextImage" name="contextImage" type="text" class="validate"  value="{{saga.contextImage}}" autocomplete="off"> 
                            <label  for="contextImage">Context/secondary Image</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="Search in GoogleMaps, latitude after '@' in result URL " id="lat" name="lat" type="text" class="validate" value="{{saga.lat}}" autocomplete="off" >
                            <label  for="lat">Latitude</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="Number after latitude, e.g. ',-6.23535,'" id="lng" name="lng" type="text" class="validate" value="{{saga.lng}}" autocomplete="off" >
                            <label  for="lng">Longitude</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                        <textarea id="intro" name="intro" type="text" class="materialize-textarea validate" data-length="350" value="{{saga.intro}}" autocomplete="off" required>{{saga.intro}}</textarea>
                        <label for="intro">Intro</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                        <textarea id="body" name="body" type="text" class="materialize-textarea validate" value="{{saga.body}}" autocomplete="off">{{saga.body}}</textarea>
                        <label for="body">Body</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                        <textarea id="conclusion" name="conclusion" type="text" class="materialize-textarea validate" value="{{saga.conclusion}}" autocomplete="off">{{saga.conclusion}}</textarea>
                        <input type="number" hidden id="totalLikes" name="totalLikes" class="validate" value="{{saga.totalLikes}}" autocomplete="off">
                        <label for="conclusion">Conclusion</label>
                        </div>
                    </div> 
                    <!-- Seems the jquery just isn't coming through on this one-->
                    <div class="row">
                        <div class="input-field col s12">
                                <select  id="siteName" name="siteName">
                                <option class="editSaga_initialOption" value="{{saga.siteName}}">{{saga.siteName}}</option>
                                <option value="Northside" autocomplete="off">Northside</option>
                                <option value="Southside" autocomplete="off">Southside</option>
                                <option value="Culchies" autocomplete="off">Culchies</option>
                                <option value="City Centre" autocomplete="off">City Centre</option>   
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <select  id="eraName" name="eraName">
                                <option class="editSaga_initialOption" value="{{saga.eraName}}">{{saga.eraName}}</option>
                                <option value="Pre-Vikings" autocomplete="off">Pre-Vikings</option>
                                <option value="The Brits2" autocomplete="off">The Brits2</option>
                                <option value="Free at last" autocomplete="off">Free at last</option>
                                <option value="Modern Day" autocomplete="off">Modern Day</option>   
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <button class="btn waves-effect waves-orange" type="submit" name="action">Edit Saga
                        </button>
                    </div>
                </form>
            </div>
    </div>  

{% endblock %}