{% extends 'base.html' %} 
{% block content %}
<div class = "container">
   <h3 class="fullPage-title">Edit Saga</h3>
   <div class="row">
      <form action="{{ url_for('updateSaga', saga_id=saga._id) }}" method="POST" class="col s12">
         <div class="row">
            <div class="input-field col s12">
               <input id="sagaTitle" name="sagaTitle" type="text" class="validate" value="{{saga.sagaTitle}}" autocomplete="off" pattern="(?=.*[a-z])(?=.*[A-Z]).{4,}">
               <label>Title</label>
            </div>
            <div class="input-field col s12">
               <input id="sagaTagline" name="sagaTagline" type="text" class="validate" value="{{saga.sagaTagline}}" autocomplete="off" pattern="(?=.*[a-z])(?=.*[A-Z]).{4,}">
               <label>Tagline</label>
            </div>
         </div>
         <div class="row">
            <div class="input-field col s12">
               <input placeholder="yourImage.com" id="sagaImage" name="sagaImage" type="text" class="validate" value="{{saga.sagaImage}}" pattern="https?://.+" autocomplete="off">
               <label>Main Image - paste link</label>
            </div>
         </div>
         <div class="row">
            <div class="input-field col s12">
               <input placeholder="https://yourURL..." id="contextImage" name="contextImage" type="text" class="validate"  value="{{saga.contextImage}}" autocomplete="off"> 
               <label>Context/secondary Image</label>
            </div>
         </div>
         <div class="row">
            <div class="input-field col s12">
               <input placeholder="Search in GoogleMaps, latitude after '@' in result URL " id="lat" name="lat" type="text" class="validate" value="{{saga.lat}}" autocomplete="off" >
               <label>Latitude</label>
            </div>
         </div>
         <div class="row">
            <div class="input-field col s12">
               <input placeholder="Number after latitude, e.g. ',-6.23535,'" id="lng" name="lng" type="text" class="validate" value="{{saga.lng}}" autocomplete="off" >
               <label>Longitude</label>
            </div>
         </div>
         <div class="row">
            <div class="input-field col s12">
               <textarea id="intro" name="intro" class="materialize-textarea validate" data-length="350" value="{{saga.intro}}" autocomplete="off" >{{saga.intro}}</textarea>
               <label>Intro</label>
            </div>
         </div>
         <div class="row">
            <div class="input-field col s12">
               <textarea id="body" name="body" class="materialize-textarea validate" value="{{saga.body}}" autocomplete="off">{{saga.body}}</textarea>
               <label>Body</label>
            </div>
         </div>
         <div class="row">
            <div class="input-field col s12">
               <textarea id="conclusion" name="conclusion" class="materialize-textarea validate" value="{{saga.conclusion}}" autocomplete="off">{{saga.conclusion}}</textarea>
               <input type="number" hidden id="totalLikes" name="totalLikes" class="validate" value="{{saga.totalLikes}}" autocomplete="off">
               <label>Conclusion</label>
            </div>
         </div>
         <div class="row">
            <div class="input-field col s12">
               <select  id="siteName" name="siteName">
                  <option class="editSaga_initialOption" value="{{saga.siteName}}">{{saga.siteName}}</option>
                  <option value="Georgian Quarter">Georgian Quarter (City Centre)</option>
                  <option value="Christchurch">Christchurch (St Patrick's, Dame St, Usher's Quay) </option>
                  <option value="Liberties">Liberties (Thomas st, Kilmainham, The Coombe)</option>
                  <option value="Temple Bar">Temple Bar (Whitetavern St, Westmoreland St) </option>
                  <option value="Clontarf">Clontarf (Howth, Raheny, Portmarnock)</option>
                  <option value="Phibsborough">Phibsborough (Smithfield, Drumcondra, Stonybatter)</option>
                  <option value="Rathmines">Rathmines (Portobello, Rathgar, Ranelagh)</option>
                  <option value="Cabra">Cabra (Blanchardstown, Ballyfermot, Santry)</option>
                  <option value="Drimnagh">Drimnagh (Tenerure, Tallaght, Clondalkin)</option>
                  <option value="Blackrock">Blackrock (Ballsbridge, Dalkey, Dundrum)</option>
               </select>
            </div>
         </div>
         <div class="row">
            <div class="input-field col s12">
               <select  id="eraName" name="eraName">
                  <option class="editSaga_initialOption" value="{{saga.eraName}}">{{saga.eraName}}</option>
                  <option value="Medieval era">Medieval era (800-1500)</option>
                  <option value="Elizabethan era">Elizabethan era (1500-1600)</option>
                  <option value="Stuart era">Stuart era (1600-1715)</option>
                  <option value="Georgian era">Georgian era (1715-1830)</option>
                  <option value="Victorian era">Victorian era (1830-1900)</option>
                  <option value="Modern era">Modern era (1900-1990)</option>
                  <option value="Present Day">Present Day (1990-2020)</option>
               </select>
            </div>
         </div>
         <div class="row">
            <button class="btn waves-effect waves-orange" type="submit" name="action">Edit Saga
            </button>
         </div>
      </form>
   </div>
</div>
{% endblock %}