<!DOCTYPE html>
<html>

<head>
  <title>Geolocation</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <style>
    #map {
      height: 90vh;
      width: 90vw;
    }
    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>
</head>



<body>
  <div id="map"></div>

  <script>
    function initMap(){
    var options = {     
        center: { lat: 53.27249, lng: -6.24206},
        zoom: 10,
      } 
    var  map = new google.maps.Map(document.getElementById('map'), options);

    var marker =  new google.maps.Marker({
        position:{lat: 53.273, lng: -6.243}, map : map
      });

    var infoWindow = new google.maps.InfoWindow({
        content:'<h5>Where are we?</h5>'
      });

    marker.addListener('mouseover', function(){
        infoWindow.open(map, marker);
    });
    }
  </script>

  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAx0wQ9k0TVnaE1cIvqF0m6CTxBat-wdbk&callback=initMap">
  </script>

</body>



</html>