{% extends 'base.html' %} 

{% block javascript %}
<script>

    var testing = "testing1"
    var data = "testing2"

    function initMap() {
      var options = { 
        center: { lat: 53.27249, lng: -6.24206 },
        zoom: 10,
        mapTypeControl: true,
        mapTypeControlOptions: {
          mapTypeIds: [
            google.maps.MapTypeId.ROADMAP,
            google.maps.MapTypeId.SATELLITE,
          ],
        }
      };
        
    fetch('/fetch')
        .then(response => response.json())
        .then(data => {
            myFunction(data);
        })
        .catch(err => console.log(err));


    function myFunction(data) {
        console.log(data)

    var marker = new google.maps.Marker({
        position: { lat: 53.3235431, lng: -6.265295},
        map: map,
        title: data[0].sagaTitle
      });

      var infoWindow = new google.maps.InfoWindow({
        content: "<h5>Here are we -7</h5>", 
      });

      marker.addListener("click", function () {
        infoWindow.open(map, marker);
      });

    };

    var map = new google.maps.Map(document.getElementById("map"), options);

    }

    console.log(testing)
    console.log(data)

</script>
{% endblock %} 

{% block content %} 
<header class="container" id="background-image"></header>
<!--Try asking around for the full page image later,
 this is frustrating though-->

 <section class="container section scrollspy" id="aboutUs">
    <div class="row">
        <div class="col s12 l4">
            <img src="../static/images/MooreStreet.jpg" alt="" class="responsive-img materialboxed">
        </div>
        <div class="col s12 l6 offset-l1">
            <h2 class="grey-text text-darken-4">Cities are..</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at lacus congue, suscipit elit nec, tincidunt orci.</p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 l4 offset-l1 push-l7">
            <img src="../static/images/PhoenixParkDear.jpg" alt="" class="responsive-img materialboxed">
        </div>
        <div class="col s12 l6 offset-l1 pull-l5 right-align">
            <h2 class="grey-text text-darken-4">About Us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at lacus congue, suscipit elit nec, tincidunt orci.</p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 l4">
            <img src="../static/images/SingingMary.jpg" alt="" class="responsive-img materialboxed">
        </div>
        <div class="col s12 l6 offset-l1">
            <h2 class="grey-text text-darken-4">How to..</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at lacus congue, suscipit elit nec, tincidunt orci.</p>
        </div>
    </div>
  </section>

    <div class="container" id="map"></div>

{% endblock %}
