{% extends 'base.html' %} 
{% block javascript %} 
<script>
// This is the GoogleMaps API, see: https://developers.google.com/maps/documentation/javascript/overview. 

   function initMap() {
     
     var options = { 
       center: { lat: 53.349809, lng: -6.260254},
       zoom: 14,
       mapTypeControl: true,
       gestureHandling: 'greedy',
       mapTypeControlOptions: {
         mapTypeIds: [
           google.maps.MapTypeId.ROADMAP,
           google.maps.MapTypeId.SATELLITE,
         ],  
       }
     };
//  Fetch request connects GoogleMaps with the database, see:
//   https://stackoverflow.com/questions/45018338/javascript-fetch-api-how-to-save-output-to-variable-as-an-object-not-the-prom, 
//   https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API/Using_Fetch, 
//   https://developers.google.com/web/updates/2015/03/introduction-to-fetch. 

   fetch('/fetch')
       .then(response => response.json())
       .then(data => { 
           fetchFunction(data);
       })
       .catch(err => console.log(err));
   
   
   function fetchFunction(data) {
       console.log(data);
       
// This is the GoogleMaps marker configuration, and design/html of the infowindow/infocontent, see:
// https://stackoverflow.com/questions/39518991/add-markers-to-google-maps-from-js-array 
// http://en.marnoto.com/2014/09/5-formas-de-personalizar-infowindow.html

   for(var i = 0; i < data.length; i++){
       var markerPosition = {lat: parseFloat(data[i].lat), lng: parseFloat(data[i].lng)};
       var markerName = data[i].sagaTitle; 
       var mapImage = '"'+data[i].sagaImage+'"';
       var tagline = data[i].sagaTagline;
       var id = (data[i]._id);
       var fullSaga = "{{url_for('singleSaga',saga_id=id)}}";
       var singleSagaLink = fullSaga.concat(id);
       var infoContent = 
       
               '<div id="iw-container">' +
                   '<div class="iw-title">'+data[i].sagaTitle+'</div>' +
                   '<div class="iw-content">' +
                       '<img src='+mapImage+'/>' +
                       '<p>Read Time: '+data[i].readingTime+' mins</p>'+
                       '<p><a class="infocontent_aLink" href='+singleSagaLink+'>Full-page Reader</a></p>'+
                       '<p class="map_reader">'+data[i].intro+'</p>'+
                       '<p><b>"'+tagline+'"</b></p>'+
                       '<p class="map_reader">'+data[i].body+'</p>'+
                       '<p class="map_reader">'+data[i].conclusion+'</p>'+
                       '<a class="infocontent_aLink" href="'+singleSagaLink+'">Full-page Reader</a>'+
                       '<p>By '+data[i].authorName+', a contributor to Sagacity.</p>'+
                       '<p></p>';
                   '</div>' +
                   '<div class="iw-bottom-gradient"></div>' +
               '</div>';
   
       var markerIcon = {
       path: 'M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z',
       fillColor: '#FFAD1A',
       fillOpacity: 0.90,
       scale: 1.95,
       strokeColor: '#fff',
       strokeWeight: 2.2,
       anchor: new google.maps.Point(8, 24)
       };
   
       var marker = new google.maps.Marker({
       position: markerPosition,
       map: map,
       icon: markerIcon,
       title: markerName, 
       info : infoContent
       });
   
       var infoWindow = new google.maps.InfoWindow({
       content: infoContent
       });
   
   
       google.maps.event.addListener(marker, "click", function () {
       infoWindow.setContent( this.info );
       infoWindow.open( map, this );
       });
   	 }
   }
       var map = new google.maps.Map(document.getElementById("map"), options);
   }
   
</script>
{% endblock %}
{% block content %} 
<header id="background-image">
<!--CSS typewriter animation, see: 
    https://css-tricks.com/snippets/css/typewriter-effect/
    https://www.w3schools.com/cssref/css3_pr_animation.asp   -->
   <p class="typewriter anim-typewriter_1">Cities are made</p>
   <p class="typewriter anim-typewriter_2">of more than buildings</p>
</header>
<section class="container" id="aboutUs">
   <div class="row">
      <div class="col s12 m10 offset-m1 l5 ">
      <!-- Material Box effect, see: 
           https://materializecss.com/media.html  -->
         <img src="../static/images/MooreStreet.jpg" alt="" class="responsive-img materialboxed" data-caption="Moore St and the city's finest butchers">
      </div>
      <div class="col s12 m10 offset-m1 l6 offset-l1 aboutUs-both">
         <h2 class="aboutUs-intro">Cities are...</h2>
         <div class="aboutUs-letters">
            <p> Naturally more than just their buildings, they’re also more than just a sum of people. And it’s not just that people make places, those places have an effect too. Whether it’s the pace of its streets or its accent or sense of humour, these aspects define the city and its inhabitants in turn. 
            </p>
            <p>  What could be a city's character other than all these aspects mixed into one, expressed through the story or stories that it tells itself. This site is a collection of tales complied and submitted by Dubliners.  
            </p>
         </div>
      </div>
   </div>
   <br><br>
   <div class="row">
      <div class="col s12 m10 offset-m1 l6 push-l6">
         <img src="../static/images/PhoenixParkDear.jpg" alt="" class="responsive-img materialboxed" data-caption="Some of the Phoenix Park locals">
      </div>
      <div class="col s12 m10 offset-m1 l5 pull-l6 right-align aboutUs-both">
         <h2 class="aboutUs-intro">How to...</h2>
         <div class="aboutUs-letters left-align">
            <p>This site should be pretty user-friendly. If you'd like to read through the collection you can choose either the map, the most popular stories are displayed here exactly where they took place:  just click a marker. Or you can make your way through the full collection in the catalogue; see “Sagas” above.</p>
            <p>If you think you'd like to add a story, first register and head to “Add Sagas”. You can view your own entries in “My Sagas”, and edit or delete them if you have to.</p>
         </div>
      </div>
   </div>
   <br><br>
   <div class="row">
      <div class="col s12 m10 offset-m1 l5">
         <img src="../static/images/SingingMary.jpg" alt="" class="responsive-img materialboxed" data-caption="Holy Mary in an unfamilar spot">
      </div>
      <div class="col s12 m10 offset-m1 l6 offset-l1 aboutUs-both">
         <h2 class="aboutUs-intro">About Us...</h2>
         <div class="aboutUs-letters">
            <p>This site was only first conceived through a web search, we were searching for a particular and fantastic local story; we did find the story but wondered why the search couldn't have been easier. 
            </p>
            <p>That initial impression only deepened when it was mentioned that for all of Dublin's local history collections none are particularly interactive or user-friendly. Someone asked what one would look like, we've attempted to find out. This is the attempt.</p>
         </div>
      </div>
   </div>
</section>
<div class="container" id="map"></div>
<div hidden id="selectordiv">true</div>
{% endblock %}