{% extends "base.html" %}
{% block content %}
<div class="container">
   <div class="row">
      <br><br><br><br>
      <div class="col s10 offset-s1 m8 offset-m2 xl6 offset-xl3">
         <form method="POST" action="{{url_for('logging')}}">
            <div class="form-group">
               <label>Username</label>
               <input type="text" class="form-control" name="username" placeholder="Username" autocomplete="off" >
            </div>
            <div class="form-group">
               <label>Password</label>
               <input type="password" class="form-control" name="pass" placeholder="Password">
            </div>
            <button type="submit" class="btn">Log In</button>
         </form>
         <br>
         <div>
            <br>
            <h6 class="slightly_grayer">Don't have an account, do you? <a href="{{url_for('register')}}" class="signUp">Sign up here</a></h6>
         </div>
         {% with messages = get_flashed_messages() %}
         {% if messages %}
         {% for message in messages %}
         <br>
         <h5 class="flash_message">{{ message }}</h5>
         {% endfor %}
         {% endif %}
         {% endwith %}
      </div>
   </div>
</div>
{% endblock %}