{% extends 'base.html' %} 
{% block content %}
<!-- For comment details, see showSagas.html -->
<div class = "container">
   <h5 class="searchPage-title">Search</h5>
   {% if not searchedSagas %}
   <br><br>
   <h5 class="search_message">No results matched your search criteria</h5>
   {% else %}
   <br><br>
   <div class="row">
      {% for saga in searchedSagas %}
      <div class="col s12 m6 l4">
         <div class="card hoverable">
            <div class="card-image">
               <img class="activator" src="{{saga.sagaImage}}" alt="' {{saga.sagaTagline}}'">
               <a class="card-title">
                  <h5>{{saga.sagaTitle}}</h5>
               </a>
            </div>
            <div class="card-content">
               <a class="card-date">{{saga.dateCard}}</a>
               <div class="card-likes">
                  <a href="" onclick="sweetAlert_notHere(); return false"><i class="las la-arrow-circle-up" id="up-arrow" ></i></a> 
                  <a class="card-totalLikes">{{saga.totalLikes}}</a>
                  <a href="" onclick="sweetAlert_notHere(); return false"><i class="las la-arrow-circle-down" id="down-arrow" ></i></a>
               </div>
            </div>
            <div class="card-reveal">
               <!-- Hover could be a real problem for mobile -->
               <span class="card-title"><i class="material-icons right">close</i></span>
               <div class="card-reveal-details">
                  <div class="card-reveal-title">{{saga.sagaTitle}}</div>
                  <br>
                  <div class="card-reveal-where">{{saga.siteName}}</div>
                  <br>
                  <div class="card-reveal-when">{{saga.eraName}}</div>
                  <br>
                  <div class="card-reveal-intro">{{saga.Intro}}</div>
                  <br>
                  <div class="card-reveal-read">
                     <a href="{{url_for('singleSaga', saga_id = saga._id)}}">Read More</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      {% endfor %}
   </div>
</div>
{%  endif %}
{% endblock %}