<!--
{% extends 'base.html' %} 
{% block content %}
    {% for saga in sagas %}
            <h3>{{saga.sagaTitle}}</h3>
            <p>{{saga.sagaTagline}}</p>
            <p>{{saga.userName}}</p>
            <p>{{saga.sagaRating}}</p>
            <p>{{saga.Intro}}</p>
            <p>{{saga.Body}}</p>
            <p>{{saga.Conclusion}}</p>
    {% endfor %}
    
{% endblock %} -->

<!-- #@app.route('/add_saga')
#def add_saga():
    #return render_template('addSaga.html', )


# @app.route('/insert_saga', methods=['POST'])
#def insert_saga():
   # sagas = list(saga.find())
    #sagas.insert_one(request.form.to_dict())
    #return redirect(url_for('get_sagas')) -->
