{% extends 'base.html' %} 
{% block content %}
<!-- For comment details, see showSagas.html -->
<div class = "container">
   <h5 class="searchPage-title">Search</h5>
   {% if not searchedSagas %}
   <br><br>
   <h5 class="search_message">No results matched your search criteria</h5>
   {% else %}
   <br><br>
   <div class="row">
      {% for saga in searchedSagas %}
      <div class="col s12 m6 xl4">
         <div class="card hoverable">
            <div class="card-image">
               <img class="activator" src="{{saga.sagaImage}}" alt="' {{saga.sagaTagline}} '">
               <a class="card-title">
                  <h5>{{saga.sagaTitle}}</h5>
               </a>
            </div>
            <div class="card-content">
            <!-- SweetAlert javascript alerts, see: https://sweetalert.js.org/guides/#getting-started  -->
               <a class="card-date">{{saga.dateShort}}</a>
               <div class="card-likes">
                  <a href="" onclick="sweetAlert_notHere(); return false"><i class="las la-arrow-circle-up" id="up-arrow" ></i></a> 
                  <a class="card-totalLikes">{{saga.totalLikes}}</a>
                  <a href="" onclick="sweetAlert_notHere(); return false"><i class="las la-arrow-circle-down" id="down-arrow" ></i></a>
               </div>
            </div>
            <div class="card-reveal">
            <!-- Materialize card reveal function, see: https://materializecss.com/cards.html  -->
               <span class="card-title"><i class="material-icons right">close</i></span>
               <div class="card-reveal-details">
                  <br><br>
                  <div class="card-reveal-title">{{saga.sagaTitle}}</div>
                  <br>
                  <div class="card-reveal-intro"><i class="material-icons">info_outline</i>&nbsp;{{saga.intro}}...</div>
                  <br><br>
                  <div class="card-reveal-read"><a href="{{url_for('singleSaga', saga_id = saga._id)}}">Read More</a></div>
                  <br><br><br>
                  <div class="card-reveal-where"><i class="material-icons">place</i>{{saga.siteName}}</div>
                  <div class="card-reveal-when"><i class="material-icons">today</i>&nbsp;{{saga.eraName}}</div>
                  <div class="card-reveal-reading"><i class="material-icons">timer</i>&nbsp;{{saga.readingTime}} mins</div>
               </div>
            </div>
         </div>
      </div>
      {% endfor %}
   </div>
</div>
{%  endif %}
{% endblock %}