{% extends 'base.html' %} 

{% block content %}

Displaying {{count_sagas}} Sagas(s). 
<p>Total pages = {{total_pages}}</p>

{% for saga in sagas_pages %}
            <div class="row">
                <div class="col s12 m6">
                    <div class="card">
                    <!-- Find/apply either horizontal display of images or whatever is like it -->
                        <div class="card-image">
                            <a href="{{url_for('singleSaga', saga_id = saga._id)}}"><img src="{{saga.sagaImage}}" alt="{{saga.sagaImage}}"></a>
                            <span class="card-title"></span>
                            <a class="btn-floating halfway-fab waves-effect waves-light blue dark"><i class="material-icons">add</i></a>
                        </div>
                        <div class="card-content">
                            <a href="{{url_for('singleSaga', saga_id = saga._id)}}"><h5>{{saga.sagaTitle}}</h5></a><br>
                            <p>{{saga.sagaTagline}}</p><br>
                            <p>{{saga.Intro}}</p><br>
                            <p>Click <a href="{{url_for('singleSaga', saga_id = saga._id)}}">here</a> to view the rest</p>
                            <a href="#" onclick="sweetAlert_notHere(); myfunction()"><i class="las la-arrow-circle-up" id="up-arrow" ></i></a> 
                            {{saga.totalLikes}}
                            <a href="#" onclick="sweetAlert_notHere()"><i class="las la-arrow-circle-down" id="down-arrow" ></i></a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}    
{% endblock %}