{% extends 'base.html' %} 

{% block content %}

        <div class="row">
            <div class="col s12 m12">
                <h3>{{saga.sagaTitle}}</h3><br>
                <h6>{{saga.authorName}}</h6>
            </div>
            <div class="row">
            
                    <div class="col s12 m12">
                        <img src="{{saga.sagaImage}}" alt="{{saga.sagaImage}}}" style="width:100%;">

                        {% if session.username %}
                            <a href="/liked/{{saga._id}}"><i class="las la-arrow-circle-up" id="up-arrow" ></i></a> 
                                {{saga.totalLikes}}
                            <a href="/disliked/{{saga._id}}"><i class="las la-arrow-circle-down" id="down-arrow" ></i></a>
                            <!-- There should be the failure condition built in here -->
                        {% else %}
                            <a href=""><i class="las la-arrow-circle-up" id="up-arrow" ></i></a> 
                            {{saga.totalLikes}}
                            <a href=""><i class="las la-arrow-circle-down" id="down-arrow" ></i></a>
                        {% endif %}

                        <p><h6>{{saga.sagaTagline}}</h6></p><br>
                        <p><h6>{{saga.dateFull}}</h6></p><br>
                        <h6>{{saga.eraName}}{{saga.siteName}}</h6>
                    </div>
            </div>
                <div class="row">
                    <div class="col s12 m12">
                        <h5><p>{{saga.Intro}}</p></h5><br>
                            <br>
                    </div> 
                </div>
                
                    <!-- There's going to be an option to add another photograph here -->
                <div class="row">
                    <div class="col s12 m12">
                        <h5><p>{{saga.Body}}</p></h5><br>
                            <br>
                    </div> 
                </div>
                <div class="row">
                    <div class="col s12 m12">
                        <img src="{{saga.sagaImage2nd}}" alt="" style="width:100%;">
                        <!-- There should be the failure condition built in here -->
                        <p><h6>{{saga.sagaImage2ndTagline}}</h6></p><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m12">
                        <h5><p>{{saga.Conclusion}}</p></h5><br>
                            <br>
                    </div> 
                </div>
                <a href="{{url_for('deleteSaga', saga_id=saga._id)}}" class="waves-effect waves-light btn btn_small">Delete</a>
                <a href="{{url_for('editSaga', saga_id=saga._id)}}" class="waves-effect waves-light btn btn_small">Edit</a>
        </div>

        <!-- Consider four additions; first, two randomly selected display cards at the very bottom of the page.
            Also figure out how to enlargen the first letter of Intro. And the sharing buttons (obvs)  -->
        
{% endblock %}
