{% extends 'base.html' %} 

<!-- {% block content %} -->
    <!-- {% for saga in sagas %} -->
        <div class="row">
            <div class="col s12 m8">
                <h6>{{saga.sagaCategories}}</h6><br>
                <h6>{{saga.sagaDate}}</h6><br>
                <h3>{{saga.sagaTitle}}</h3><br>
            </div>
            <div class="row">
                <div class="col s12 m8">
                    <img src="{{saga.sagaImage}}" alt="There really should be something here" style="width:100%;">
                    <!-- There should be the failure condition built in here -->
                    <p><h4>{{saga.sagaTagline}}</h4></p><br>
                    <a class="btn-floating halfway-fab waves-effect waves-light blue dark">
                    <i class="material-icons">add</i></a>
                </div>
                <div class="row">
                    <div class="col s12 m6">
                        <h6><p>{{saga.userName}}</p></h6><br>
                            <br>
                        <h5><p>{{saga.Intro}}</p></h5><br>
                            <br>
                    <!-- There's going to be an option to add another photograph here -->
                        <h5><p>{{saga.Body}}</p></h5><br>
                            <br>
                        <h5><p>{{saga.Conclusion}}</p></h5><br>
                            <br>
                    </div> 
                </div>
                <a href="{{url_for('deleteSaga', saga_id=saga._id)}}" class="waves-effect waves-light btn btn_small">Delete</a>
                <a href="{{url_for('editSaga', saga_id=saga._id)}}" class="waves-effect waves-light btn btn_small">Edit</a>
            </div>
        </div>

        <!-- Consider four additions; first, two randomly selected display cards at the very bottom of the page.
            Also figure out how to enlargen the first letter of Intro. And the sharing buttons (obvs)  -->
   
    {% endfor %}
        
{% endblock %}
